body{
    background-color: thistle;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;
    font-weight: bold;
     }
section{
    background-color: #ddd;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}
P{
    font-size: 40px;
}
hr{
    border:3px solid black;
    
}